{% extends "base.html" %}
{% block title %}Vacancies - Applicant{% endblock %}
{% block content %}


<form action="/applicants" method="post">
    <h1 class="title">Application ( {{ job_details.title }} @ {{ job_details.company_name }} )</h1>

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <textarea type="address" class="form-control" id="address" name="address"></textarea>
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="number" class="form-control" id="age" name="age">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock%}