{% extends "base.html" %}
{% block title %}Vacancies{% endblock %}
{% block content%}

<h1 class="title">Current Vacancies</h1>

{% for j in job_details %}

<div class="card w-75 mx-auto">
    <div class="card-body">
        <h5 class="card-title">{{ j.title }}</h5>
        <p class="card-text">At
        <h4>{{ j.company_name }}</h4> for {{ j.salary }}Rs from {{ j.time }}
        </p>
        <form action="/" method="POST">
            <button type="submit" value="{{ j.jid }}" class="btn btn-primary" name="jid">Interested</button>
        </form>
    </div>
</div>
<br>

{% endfor %}

{% endblock %}