{% extends "base.html" %}
{% block title %} Vacancies - applicants {% endblock %}
{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Job title</th>
            <th scope="col">Company</th>
            <th scope="col">Salary</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        {% for a in applicants %}

        <tr>
            <th scope="row">{{ loop.index0 }}</th>
            <td>{{a.name}}</td>
            <td>{{a.email}}</td>
            <td>{{a.address}}</td>
            <td>{{a.job.title}}</td>
            <td>{{a.job.company_name}}</td>
            <td>{{a.job.salary}}</td>
            <td>{{a.job.time}}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}